/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600&family=Tai+Heritage+Pro:wght@400;700&display=swap');

/* Wildcard Selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    color: #6b6565;
}

/* Temporary style to aid in layout design */
h1 {
    font-family: 'Tai Heritage Pro', serif;
    color: azure;
    text-transform: uppercase;
}

.hidden-heading {
    display: none;
}

/* Consistent Styles Across Pages */

/* Header Content */
header {
    background-color: #3a3a3a;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.5em;
    color: azure;
}

#logo-salt-and-stone {
    font-size: 80%;
    text-align: center;
    padding-right: 0.5em;
    letter-spacing: 0.2rem;
}

#logo-studios {
    font-size: 200%;
    padding-top: 0.1em;
    letter-spacing: 0.5rem;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-family: 'Lora', serif;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8rem;
    ;
}

#menu>li {
    margin-bottom: 1em;
    padding-right: 10%;

}

/* Active Page Highlighter */
.active {
    border: 1em solid #ffe056;
    border-radius: 50%;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #8a1d1d;
    right: 0;
    padding: 0 0.25rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 40px;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5em;
    position: relative;
    vertical-align: middle;
    top: 15px;
    right: 15px;
}



/* Hero Section */

#hero {}

#cover-text {
    font-family: 'Tai Heritage Pro', serif;
}

/* Main Content */
main {
    flex: 1 0 auto;
    margin-top: 100px;
}

/* Hero Section */

/* Footer Content */

/* Media Queries */