/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Tai+Heritage+Pro:wght@400;700&display=swap');

/* Wildcard Selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    color: #000000;
}

/* Temporary style to aid in layout design */
h1 {
    font-family: 'Kanit', serif;
    color: azure;
    text-transform: uppercase;
}


h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tai Heritage Pro', serif;
    color: black;
    text-transform: uppercase;
}

.hidden-heading {
    display: none;
}

a {
    text-decoration: none;
}

/* Consistent Styles Across Pages */

/* Header Content */
header {
    background-color: transparent;
    position: sticky;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Salt And Stone Studios Logo Styles */
#logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-bottom: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.5em;
    color: azure;
}

#logo-salt-and-stone {
    font-size: 80%;
    text-align: center;
    padding-right: 0.5em;
    letter-spacing: 0.2rem;
    color: azure;
}

#logo-studios {
    font-size: 150%;
    padding-top: 0.1em;
    letter-spacing: 0.5rem;
}

/* Nav Links */

header a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-family: 'Lora', serif;
}

#menu {
    font-size: 90%;
    top: 30px;
    right: 0;
    letter-spacing: 3px;
    list-style-type: none;
    padding-right: 8rem;
    position: absolute;
    float: none;
    color: black;
    background-color: rgba(0, 31, 63, .83);
    padding: 1px 0.1em;
    text-decoration: none;
    display: block;
}

#menu>li {
    margin-bottom: 1em;
    padding-right: 10%;
}

/* Active Page Highlighter */
.active {
    border-bottom: 0.1em solid #ffe056;
    padding: 3px;
    border-radius: 50%;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    right: 0;
    padding: 0 0.25rem;
    box-shadow: 0 2px 2px #6b6b6b;
    display: none;
    top: 30px;
    width: fit-content;
    height: fit-content;
    text-align: right;
}

nav>li {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
    max-width: fit-content;
    max-height: fit-content;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5em;
    position: relative;
    vertical-align: middle;
    top: 15px;
    right: 15px;
    color: #ffffff;
}

/* Hero Section */

#hero {
    height: 550px;
    width: 100%;
    background: url(../images/church-studio-interior-3.jpg) no-repeat center center/cover;
    position: absolute;
}

/* Colour Overlay to dim the background image */
.color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .69);
    background-image: linear-gradient(black, gray, black, 0.63);
}

#cover-text {
    color: azure;
    text-align: center;
    font-size: 100%;
    padding-top: 5em;
    margin: 50px 50px;
}

#cover-text>h2 {
    font-family: 'Tai Heritage Pro', serif;
    color: azure;
    font-size: 130%;
    text-justify: auto;
    padding-bottom: 0.5em;
}

#cover-text>p {
    line-height: 8mm;
}

/* Main Content */
main {
    flex: 1 0 auto;
    position: absolute;
}

#cover-text {
    margin-top: 75px;
}

#about {
    background-color: #ffffff;
    top: 550px;
    position: relative;
    margin: 5px 30px;
}

#about-main {
    text-align: center;
    justify-content: space-around;
    line-height: 1cm;
}

#about-main>h3 {
    font-size: 70%;
    padding-bottom: 1.5em;
    letter-spacing: 1mm;
}

/* Hero Section */

/* Footer Content */

/* Media Queries */