/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600&family=Tai+Heritage+Pro:wght@400;700&display=swap');

/* Wildcard Selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Tai Heritage Pro', sans-serif
}

/* Home Page */

/* Header Content */
#cover-text {
    font-family: 'Tai Heritage Pro', serif;
}

/* Main Content */

/* Hero Section */

/* Footer Content */